:root {
    --header-height: 7rem;

    /*========== COLORS ==========*/
    --bg-color: #101113;
    --first-color: #1E1E1E;
    --second-color: #6D6D6D;
    --yellow-color: #FEDA0A;
    --heading-color: #FFFFFF;
    --secondary-section-color: #000000;
    --sub-heading-color: #6d6d6dc0;
    --hover-red-color: #960000;
    --dropdown-bg-color: rgba(225, 225, 225, 0.25);

    /*========== Font and typography ==========*/
    --body-font: 'Inter', sans-serif;
    --certificate-font-size: 4.7rem;
    --certificate-font-size-small: 3.5rem;
    --biggest-font-size: 4rem;
    --h2-font-size: 3rem;
    --h3-font-size: 2rem;
    --normal-font-size: 1.8rem;
    --small-font-size: 1.3rem;
  
    /*========== FONT WEIGHT ==========*/
    --font-bold-heavy: 800;
    --font-bold: 700;
    --font-semi-bold: 600;
    --font-semi-bold-secondary: 500
    --font-light: 200;
}